In [4]:
import pandas as pd
users = pd.read_csv('ml-users.csv')

In [2]:
users.describe()

              472  74.9555950266429840
count   15.000000            15.000000
mean   242.533333            72.903428
std    121.589395            12.214085
min     90.000000            38.497653
25%    159.000000            70.061474
50%    206.000000            77.092511
75%    309.500000            81.493149
max    518.000000            84.551148

In [7]:
display(users)

,user_id,username,labels_validated,role,accuracy
0,0e1ae564-6d72-4670-98e4-71369cc5ab26,AHLS6AZ1VTNH7,472,Turker,74.955595
1,2d9009b3-55d5-4aa8-a17a-a7c80afc4d51,A1A73A5Z4SDW06,393,Turker,84.551148
2,49723673-044d-4b47-855b-3bdebfe37073,shaunkuo,518,Registered,82.817869
3,7b1596af-14d4-4f2b-9e4e-71b1884db836,A1EK8YNHZHTW1J,98,Turker,82.178218
4,86d26e9d-010f-4802-88ba-680ae0a8e20d,A2AHXGFXPG6ZSR,157,Turker,38.497653
5,87833d72-b357-4e2c-81cd-23f58ff04c59,jonfroehlich,332,Owner,77.529658
6,9b595ba6-529b-4d37-93d7-dd189184e15a,kckamin,161,Registered,77.118644
7,ac272eb8-3bb3-4260-9960-8e6c463f3867,mosharp,90,Registered,80.808081
8,af812204-1521-4c42-bf88-4baaaffe3f06,A1NOINYD1FZ55T,185,Turker,77.073171
9,bca24c1a-a6b1-4625-ab8e-9ff8693022d7,AL6TUFYAMT6U4,316,Turker,62.972292
10,bf16418a-4c99-4fd6-99c6-7e8b40fbe17b,ANYX5000YGSK3,200,Turker,77.092511
11,dada416e-535f-4bb3-a213-172a8a94b581,annastk,95,Registered,68.881119
12,e4ff325c-309b-4ea6-8555-8f973e662362,mikey,303,Owner,71.241830
13,ec15a589-dd14-4513-a43e-8c06e55f4c71,A2Y2RVQO2UVFV1,206,Turker,57.327586
14,f13d2630-35fd-4a78-883d-d108be083425,AFDOCG0RZGSXU,301,Turker,73.177843
15,fa0bbee4-b98d-4eb3-b6da-d9e9aa287f6c,EronKutov,283,Researcher,82.283795

In [1]:
# the interactions table should really have the following header (but doesn't currently)
# audit_task_interaction_id, audit_task_id, action, gsv_panorama_id, lat, lng, heading, pitch, zoom, note, timestamp, 
interactions = pd.read_csv('ml-interactions.csv')

NameError: name 'pd' is not defined